header {
	size: 24px;
	align-items: center;
	font-family: "helvetica";
}

body {
	color: black;
	font-size: 120px;
	font-family: "times";
	background-repeat: repeat;
    background-position: right top;
}
h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 80px;
	color: blue;
}

.jumbotron {
	margin-top: 10vw;
}

#main-nav {
	background-color: blue;
}

.bio {
	font-size: 12%;
}

img {
	justify-content: right;
	min-height: 100px;
	max-height: 200px;
	min-width: 100px;
	max-width: 100px;
}


.led {
	font-size: 20px;
	color:red;
}
.real {
	font-size: 20px;
	color:red;
}

@media all and (min-width: 1200px){
	body {
		background-color: white;
	}

	h1 {
		color: yellow;
	}

	button {
		font-size: 80px;
	}
}

@media all and (max-width: 960px){
	body {
		background-color: white;
	}

	h1 {
		color: green;
	}

	button {
		font-size: 80px;
	}
}

@media all and (max-width: 480px){
	body {
		background-color: white;
	}

	h1 {
		color: white;
	}



	button {
		font-size: 80px;
	}
}